html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}
.menu{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.menu_link{
    text-decoration: none;
    font-size: 20px;
    color: rgb(110, 110, 220);
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.5s all;
}
.menu_link:hover{
    border: 2px solid rgb(110, 110, 220);
    border-radius: 10px;
}
.hero{
    background-image: url(img/fon.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.pass{
    padding-bottom: 250px;
}
.information{
    background-color: white;
    max-width: 700px;
    height: 250px;
    opacity: 0.8;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0 18px;
}
.title{
    text-align: center;
    padding-top: 13px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 15px;
}
.subtitle{
    text-align: center;
    font-size: 20px ;
}